html { font-family: monospace; overflow-x: hidden;}

body{
    color: white;
    background-color: rgb(20, 20, 20);
    background-image: url("/image/bg.png"), url("/image/bg2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#seach{
    width: 175px;
    margin: 0 auto;
    padding-right: 60px;
    margin-top: 160px;
}

.s{
    background-color: #404040;
    color: white;
    width: 175px;
    transition: 0.5s;
    text-align: center;
}

.s:not(#br){
    border-bottom: white solid 0.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 176px;
}

#bat2{
    border-bottom: white solid 0.5px;
    border-top: white solid 0.5px;
    border-left: none;
    border-right: none;
    width: 176px !important;
}

#bat1{
    border-bottom: white solid 0.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 176px !important;
}

.s:not(#ap){
    border-bottom: white solid 0.5px;
    border-top: white solid 0.5px;
    border-left: none;
    border-right: none;
    width: 176px !important;
}



#p{ border: none !important; }

.s:hover{ background-color: #252525; }

#sb{ border-radius: 10px; }

#dnn{
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    border-radius: 100px;
    background-color: #404040;
    color: white;
    transition: 0.5s;
    text-align: center;
    border: none;
    float: right;
}

#dnn:hover{
    color: lightblue;
    background-color: darkblue;
}

#sun{ display: flex; }

#moon{ display: none; }

#vids{
    display: flex;
    justify-content: center;
}

.btns{
    margin-left: 10px;
    border: 3px solid gray;
    border-radius: 10px;
    height: 80px;
    width: 180px;
    background-color: #252525;
    transition: 0.5s;
    color: gray;
    font-size: large;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
}

.btns:hover{
    background-color: #404040;
}

/*#scr{
    margin-left: 330px;
}*/ 


 #parent{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
 }
 .fore-text{
    font-style: normal;
    font-family: sans-serif;
    line-height: 150%;
 }
 .body-main-header{
    text-align: center;
 }

 .body-main-header h1{
    font-size: 18;
 }
 .header-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
 }
 .created-by{
    font-size: 8;
    font-family: sans-serif;
 }
 em{
    color: brown;
 }
 .display-video-img{
    list-style-type:circle;
    text-align: center;
 }

.light-class{
    position: absolute;
    top: 40px;
    right: 40px;
}

.search-item{
    position: absolute;
    top: 270px;
    right: 1px;
}

.img-btn{
    width: 150px;
    height: 70px;
}

.fore-text{
    border-radius: 10px;
}

.ul-class{
    line-height: 100px;
    list-style: none;
}
.li-class{
    display: inline-block;

}

.real-link{
    position: absolute;
    top: 90px;
    right: 70px;
}

/*
    this is for non-computer devices responsivness
*/

@media (max-width: 600px) {
    .display-video-img{
        left: 0px;
        margin-right: 1000px;
    }
    #seach{
        margin-right: 0px;
        margin-top: 285px;
    }
    #sb{
        margin-left: 52px;
    }
    .header-img{
        margin-right: 100px;
    }
    .real-link{
        margin-right: 160px;
    }
    #real-img{
        top: -30px;
        position: absolute;
    }
    .light-class{
        margin-top: 30px !important;
    }
    .s{
        margin-left: 52px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .display-video-img{
        left: 0px;
        margin-right: 1000px;
    }
    #seach{
        margin-right: 50px;
        margin-top: 180px;
    }
    #sb{
        margin-left: 52px;
    }
    #br{
        border-top-left-radius: 10px;
    }
    #bat2{
        border-bottom-left-radius: 10px;
    }
} 

@media (max-width:1024px) and (min-width:769px){
    .display-video-img{
        margin-right: 128px;
    }
    #seach{
        margin-top: 160px;
    }
}