html { font-family: monospace; overflow-x: hidden;}

body{
    color: white;
    background-color: rgb(20, 20, 20);
}



#seach{
    width: 175px;
    margin: 0 auto;
    padding-right: 60px;
}

.s{
    background-color: #404040;
    color: white;
    width: 175px;
    transition: 0.5s;
    text-align: center;
}

.s:not(#br){
    border-bottom: white solid 0.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 176px;
}

.s:not(#ap){
    border-bottom: white solid 0.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 176px !important;
}

#p{ border: none !important; }

.s:hover{ background-color: #252525; }

#sb{ border-radius: 10px; }

#dnn{
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    border-radius: 100px;
    background-color: #404040;
    color: white;
    transition: 0.5s;
    text-align: center;
    border: none;
    float: right;
}

#dnn:hover{
    color: lightblue;
    background-color: darkblue;
}

#sun{ display: flex; }

#moon{ display: none; }

#vids{
    display: flex;
    justify-content: center;
}

.btns{
    margin-left: 10px;
    border: 3px solid gray;
    border-radius: 10px;
    height: 80px;
    width: 180px;
    background-color: #252525;
    transition: 0.5s;
    color: gray;
    font-size: large;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
}

.btns:hover{
    background-color: #404040;
}

/*#scr{
    margin-left: 330px;
}*/ 


 #parent{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
 }
 .fore-text{
    font-style: normal;
    font-family: sans-serif;
    line-height: 150%;
 }
 .body-main-header{
    text-align: center;
 }

 .body-main-header h1{
    font-size: 18;
 }
 .header-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
 }
 .created-by{
    font-size: 8;
    font-family: sans-serif;
 }
 em{
    color: brown;
 }
 .display-video-img{
    list-style-type:circle;
    text-align: center;
 }
 .video-player{

 }
.light-class{
    position: absolute;
    top: 40px;
    right: 40px;
}

.search-item{
    position: absolute;
    top: 270px;
    right: 10px;
}

.img-btn{
    width: 150px;
    height: 70px;
}

.ul-class{
    line-height: 100px;
    list-style: none;
}
.li-class{
    display: inline-block;

}
.flex-parent-iml{

}
.real-link{
    position: absolute;
    top: 90px;
    right: 70px;
}