<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob, Arts and Technology</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/bootstrap-icons-1.10.5 - Copy/font/bootstrap-icons.css">
    <link rel="icon" type="image/icon" href="/image/logo.png">
</head>
<body>
    <div id="maining">
    <header class="body-main-header">
        <h1>B.A.T Project</h1>
        <img class= "header-img" src="/image/logo.png">
        <header class="parent-flex">
            <h3 class="created-by">This site is created by Sarthak Ghoshal</h3>

            <div class="light-class">
                <div id="changecolor" style="float: left; clear: both;">
                    <button id="dnn" onclick="ChangeColor()" style="display: flex;">
                        <i class="bi bi-cloud-sun-fill" id="sun" style="color: white;"></i>
                        <i class="bi bi-moon-stars" id="moon" style="color: white;"></i>
                        <br>
                        <span id="text-content">Light</span>
                    </button>              
                </div>
            </div>
        </header>
    </header>

    <article>
        <fieldset class="fore-text" id="fore-text">
            <h3>What is this Website?</h3>
            &nbsp;
            This is the main part of the innovation project for the <strong>B.A.T group of Center Grove Middle School North</strong>, one of the contenders in the 2023 First Lego Robotics League.
            &nbsp;
            <h3>Why does this Website exist?</h3>
            &nbsp;
            The sole purpose of this website is to demonstrate how we help spread knowledge and tutorials using the World Wide Web.
            &nbsp;
            <p></p>
            <em>THIS WEBSITE IS IN ITS PRE-ALPHA VERSION</em>, so there will still be stuff yet to be added.
            <br>            
        </fieldset>
        <div class="real-link">
            <a href="https://www.firstinspires.org/robotics/fll">
                <img src="/image/FLRL.png" height="50px" width="50px" style="border: 3px gray solid; border-radius: 50%;" id="real-img"/>
            </a>
        </div>
    </article>       
    <p>
    <div id="seach" class="search-item" style="display: flexbox;">
        <input type="search" id="sb" placeholder="Search for a Video Here" onclick="ShowPanel();" onblur="HidePanel()" > 
        <button type="button" id="br" style="display: none;" class="s" onclick="Bob()">
            <main>
                <main style="display: flex;">
                    <img height="50px" width="50px" src="/image/Bob.jpg" style="border-radius: 50%;">
                    <h4 style="text-align: left; padding-left: 20px;">Bob Ross</h4>
                </main>
                <h6><%= nameuno %></h6>
            </main>
        </button>
        <div class="s" id="p" style="display: none;"></div>
        <button type="button" id="ap" style="display: none; padding-right: 27px;" class="s" onclick="Alp()">
        <main>
            <main style="display: flex;">
                <img height="50px" width="50px" src="/image/alp.png" style="border-radius: 50%;">
                <h4 style="text-align: left; padding-left: 20px;">Alpay Efe</h4>
            </main>
            <h6><%= namedos %></h6>
        </main>
        </button>
        <div class="s" id="p" style="display: none;"></div>
        <button type="button" id="bat1" style="display: none; padding-right: 27px;" class="s" onclick='Bat("palm")'>
            <main>
                <main style="display: flex;">
                    <img height="50px" width="50px" src="/image/bat.jpg" style="border-radius: 50%;">
                    <h4 style="text-align: left; padding-left: 20px;">Bob Art Tutorials</h4>
                </main>
                <h6><%= nametres %></h6>
            </main>
        </button>
        <div class="s" id="p" style="display: none;"></div>
        <button type="button" id="bat2" style="display: none; padding-right: 27px;" class="s" onclick='Bat("three")'>
            <main>
                <main style="display: flex;">
                    <img height="50px" width="50px" src="/image/bat.jpg" style="border-radius: 50%;">
                    <h4 style="text-align: left; padding-left: 20px;">Bob Art Tutorials</h4>
                </main>
                <h6><%= namecuatro %></h6>
            </main>
        </button>
    </div>
    </p>
    <p></p>
    <div class="flex-parent-iml">
        <div class="display-video-img">
            <ul class="ul-class">
                <li class="li-class">
                    <button type="button" class="btns" onclick="Pizza()">
                        <img class="img-btn" src="/image/pizza.png"></img>How to Draw a Pizza!
                    </button>
                </li>
                <li class="li-class">
                    <button type="button" class="btns" onclick="Coloring()">
                        <img class="img-btn"  src="/image/color.png" ></img>
                        <br>Coloring...
                    </button>
                </li>
                <li class="li-class">
                    <button type="button" class="btns" onclick="Shape()">
                        <img  class="img-btn" src="/image/shape.png"></img>
                        <br>Taking the Frst Step!
                    </button>
                </li>
            </ul>
        </div>
        <div id="parent" class="video-player">
                <iframe src="" style="border: black solid 3px; border-radius: 50px; width: 1200px; height: 500px; background-color: black;" id="scr" allowfullscreen></iframe>   
        </div>
    </div>    
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
        integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
        crossorigin="anonymous"></script>
    <script src="/src/main.js"></script>
</body>
</html>